.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  text-align: center;
  align-content: center;
}

.width {
  width: 50%;
}

.float {
  float: left;
}

.margin {
  margin-left: 5%;
  margin-right: 5%;
}

.link-general {
  border: none;
  border-radius: 1px;
  padding: 29px 20px 29px 20px;
  text-align: center;
  color: $black;
  font-size: $size-font-p;
  letter-spacing: 6px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.button {
  font-weight: bold;
  font-size: $size-font-p;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 4px;
  border: 2px solid $black;
  padding: 10px 10px 10px 10px;
  background-color: $white;
  color: $black;
}

.display {
  display: inline-block;
}

.relative {
  position: relative;
}
