#low {
  background-color: #f2f4f5;

  p {
    font-family: 'Montserrat';
    font-size: 1rem;
  }
}

#textLow {
  p {
    margin-top: 35px;
  }
}

#social {
  margin-left: 35%;

  img {
    margin: 35px 18px 30px 0;
    width: auto;
    height: 25px;
  }
}
