@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

$primary-font: 'Raleway';
$size-font-p: 1.25rem;
$black: black;
$white: #ffff;
$grey: #949088;
